include ../search/index

mixin navBar()
    nav.navbar.is-fixed-top(role='navigation', aria-label='main navigation')
        .navbar-brand
            a.navbar-item
                p.title.is-5.my-font The PugDuck Store
            a.navbar-burger.burger(role='button', aria-label='menu', aria-expanded='false', data-target='navbarMain')
                span(aria-hidden='true')
                span(aria-hidden='true')
                span(aria-hidden='true')
        #navbarMain.navbar-menu
            .navbar-start
                .navbar-item
                    .buttons
                        button.button.is-primary(onclick='favs()')
                            strong favorites
                a.navbar-item
                    form(action='/home/search')
                        input.input(type='text' name='query' value=query placeholder='search for your ducks')
            .navbar-end
                .navbar-item
                    .buttons
                        button.button.is-danger(onclick='logout()')
                            | Log out

    script.
        function favs() {
            window.location.href = '/home/favorites'
        }

        function logout() {
            window.location.href ='/logout'
        }
