extends ../index

include ../feedback/index
include ../search/index
include ../results/index
include ../detail/index
include ../favorites/index

block content
    container.box
        h1.title.is-1 Hola, #{name}!
        form(action='/logout' method='post')
            button Logout
        form(action='/home/favorites')
            button Favorites
        +search(query)
        if message
            +feedback(message)
    if (ducks)
        +results(ducks)
    if (duck)
        +detail(duck)
    if(favs)
        +favorites(favs)
