extends ../index

block content
    div.columns.my-vcentered
        container.box.column.is-half.has-text-centered
            h1.title.is-1.my-font.m1 The PugDuck Store
            div.m1
                a.button.is-fullwidth(href='/register') Register
                p or
                a.button.is-fullwidth(href='/login') Login